/*=../../bower_components/owl.carousel/dist/assets/owl.carousel.css*/

@import "partials/vars";
@import "partials/mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Geometria', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-size: 14px;
    line-height: 1;
    color: $main-color;
    background-color: #f5f5f5;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.container-fluid {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 1560px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

// titles
.main-title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: #ffffff;
}

.main-title--blue {
    color: $main-color;
}

.title-box {
    justify-content: flex-start;
    align-items: center;
    svg,
    .icon {
        margin-right: 11px;
    }
}

// buttons
.button {
    font-weight: 500;
    border: none;
    text-align: center;
    outline: 0;
    background-color: #0b5186;
    color: #fff;
    padding: 13px 36px;
    border-radius: 20px;
    display: inline-block;
    max-width: 100%;
    transition: all 0.3s ease-out;
}

.button--middle {
    width: 158px;
}

.btn-more {
    align-items: center;
    justify-content: flex-start;
    img {
        margin-right: 11px;
    }
    svg {
        fill: currentColor;
        width: 42px;
        height: 42px;
        margin-right: 11px;
    }
}

// form
input,
textarea {
    color: #b8bfca;
    @include inputPlaceholder() {
        color: #b8bfca;
        font-weight: 300;
        font-size: 14px;
    }
}

// header
.header {
    margin: 0px 0px 40px;
    background-color: $main-color;
    &__container {
        padding: 0px;
    }
    &__grid {
        height: 77px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__menu {
        height: inherit;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }
    &__menu-wrap {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;
        height: inherit;
    }
    &__left {
        flex: 0 1 75%;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    &__right {
        flex: 0 1 25%;
        height: inherit;
        position: relative;
        align-items: center;
    }
    &__link {
        color: #b8c2ce;
        font-weight: 300;
        margin: 0px 11px;
    }
    &__form {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        opacity: 0;
        transition: right 0.3s ease-out, opacity 0.5s ease-out;
    }
    &__form.show {
        opacity: 1;
        right: 0;
    }
    &__input {
        width: 100%;
        height: inherit;
        background: $main-color;
        border: none;
        border: 0;
        outline: none;
        padding: 0px 15px;
    }
    &__search {
        position: relative;
        z-index: 100;
        border-left: 2px solid #0e233c;
        border-right: 2px solid #0e233c;
        padding: 20px 27px;
        flex: 0 1 80px;
        align-items: center;
        justify-content: center;
        height: inherit;
        background: transparent;
    }
    &__search.active {
        background: #1f273c;
    }
    &__search-icon {
        width: 21px;
        height: 21px;
        display: none;
    }
    &__search-icon.active {
        display: flex;
    }
    &__messages {
        // width: 97px;
        border-left: 2px solid #0e233c;
        height: inherit;
        justify-content: center;
        align-items: center;
        flex: 1 1 60px;
        cursor: pointer;
        padding: 10px;
        svg {
            width: 26px;
            height: 26px;
        }
    }
    .icon-close {
        width: 16px;
        height: 16px;
    }
    .profile {
        height: inherit;
        align-items: center;
        padding: 5px 30px 5px 30px;
        flex: 3;
        position: relative;
        cursor: pointer;
        &__avatar {
            border-radius: 50%;
            width: 42px;
            height: 42px;
            margin-right: 7px;
        }
        &__name {
            color: #798593;
            line-height: 25px;
        }
    }
}

// dropdown
.dropdown {
    position: absolute;
    top: 77px;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
    flex-direction: column;
    padding: 15px 40px 0px;
    display: none;
    &__item {
        border-bottom: 1px solid #f5f5f5;
    }
    &__icon {
        position: absolute;
        left: -18px;
    }
    &__link {
        position: relative;
        color: #262626;
        padding: 17px 0px;
        display: block;
        transition: transform 0.3s ease-out;
        &--end {
            color: #cc6963;
        }
        &--new {
            color: #67aed9;
        }
        &--old {
            color: #858686;
        }
        svg {
            fill: currentColor;
            width: 12px;
            height: 12px;
        }
    }
}

.message__dropdown {
    font-size: 13px;
}

// main
.main {
    margin-top: 42px;
    &__grid {
        justify-content: space-between;
    }
    &__col {
        &--big {
            flex: 0 1 75%;
            max-width: 75%;
            margin: 0px 0px 50px;
        }
        &--small {
            flex: 0 1 25%;
            max-width: 25%;
            padding-left: 30px;
        }
    }
}

.owl-item {
    float: left;
}

.owl-prev,
.owl-next {
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    background: transparent;
    font-size: 0;
    outline: none;
}

.owl-prev {
    margin-right: 17px;
}

.owl-nav {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 570px;
    max-width: 100%;
    text-align: right;
    padding-right: 23px;
    svg {
        cursor: pointer;
        fill: #fff;
        width: 42px;
        height: 42px;
        button:first-child {
            margin-right: 17px;
        }
    }
}

.main-slider {
    position: relative;
    overflow: hidden;
    &__item {
        position: relative;
        height: 542px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        min-height: 180px;
        width: 570px;
        max-width: 100%;
        padding: 30px 30px 45px;
        background-color: $main-color;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
    }
    &__text {
        padding-right: 130px;
    }
    .owl-dots {
        position: absolute;
        bottom: 22px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 570px;
        max-width: 100%;
        text-align: center;
    }
    .owl-dot {
        margin: 0px 7.5px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: none;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        background-color: #97a5b7;
        outline: none;
        cursor: pointer;
    }
    .owl-dot.active {
        background-color: #0e233c;
    }
}

// news
.news {
    margin: 35px 0px 0px;
    padding: 48px 50px 60px;
    background-color: #fff;
    border: 1px solid #eeeeee;
    &__grid {
        margin: 33px 0px 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item {
        flex-direction: row;
        flex: 0 0 50%;
        margin: 0px 0px 35px;
        padding-right: 15px;
    }
    &__time {
        color: #61656a;
        font-weight: 300;
    }
    &__text {
        color: $dark-color;
        line-height: 21px;
        margin: 6px 0px 0px;
        font-weight: 500;
    }
    &__bottom {
        font-size: 12px;
        font-weight: 300;
        color: #878787;
        padding: 2px 0px 0px;
    }
    &__more {
        color: #878787;
        font-weight: 300;
        margin: 26px 0px 0px;
    }
    &__info {
        align-items: center;
        &:first-child {
            margin-right: 8px;
        }
        img {
            width: 15px;
            height: 15px;
            margin-right: 2px;
        }
    }
    .news__col {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        &--picture {
            width: 179px;
            margin-right: 15px;
        }
    }
}

// tabs
.tabs {
    margin: 37px 0px 0px;
    &__nav {
        position: relative;
        z-index: 1;
        max-width: 625px;
        flex-wrap: wrap;
    }
    &__link {
        position: relative;
        flex: 1 1 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 48px;
        top: 6px;
        border: 1px solid transparent;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-right: 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #2384ce;
        letter-spacing: .5px;
        &:first-child {
            text-transform: capitalize;
        }
        &--selected {
            color: $dark-color;
            z-index: 2;
            background-color: #fff;
            border: 1px solid #eeeeee;
            &:after {
                content: '';
                position: absolute;
                background-color: #fff;
                width: 100%;
                right: 0px;
                bottom: -2px;
                left: -1px;
                z-index: 20;
                box-sizing: content-box;
                border-bottom: 6px solid #fff;
                border-right: 2px solid #fff;
            }
        }
    }
    &__item {
        overflow: hidden;
        display: none;
        background-color: #fff;
        border: 1px solid #eeeeee;
        color: #747373;
        position: relative;
        padding: 58px 50px 65px;
    }
    &__item.active {
        display: block;
    }
    &__button {
        margin: 40px 0px 0px;
    }
}

// tabs-slider
.tabs-slider {
    position: relative;
    color: $main-color;
    margin: 28px 0px 0px;
    // header
    &__header {
        flex-direction: row;
        align-items: center;
    }
    &__info {
        margin-left: 8px;
    }
    &__name {
        color: $dark-color;
        font-weight: 700;
        line-height: 18px;
        padding-bottom: 3px;
    }
    &__avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #4f9edd;
    }
    //body
    &__body {
        margin: 8px 0px 0px;
    }
    // footer
    &__footer {
        margin: 21px 0px 0px;
    }
    &__title {
        line-height: 30px;
        font-size: 22px;
        font-weight: 500;
    }
    &__text {
        margin: 12px 0px 0px;
        line-height: 22px;
    }
    .owl-nav {
        right: 0;
        top: -72px;
        bottom: auto;
        width: auto;
        padding: 0;
        svg {
            fill: #293e59;
        }
    }
}

// info
.info {
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-top: none;
    color: $dark-color;
    &__grid {
        justify-content: space-between;
        align-items: stretch;
    }
    &__col {
        flex: 0 1 50%;
        max-width: 50%;
        height: inherit;
        padding: 51px 45px;
        border-right: 1px solid #eeeeee;
        overflow: hidden;
    }
    .info__text {
        line-height: 20px;
    }
}

.info-slider {
    position: relative;
    margin-top: 10px;
    .owl-nav {
        width: auto;
        top: -50px;
        bottom: auto;
        right: 0;
        padding: 0px;
        svg {
            cursor: pointer;
            fill: #293e59;
            width: 42px;
            height: 42px;
        }
    }
}

// frames
.frames-slider {
    &__item {
        margin: 30px 0px 0px;
    }
    .frames__button {
        margin: 43px 0px 0px;
    }
}

// birthdays
.birthdays-slider {
    &__item {
        margin: 30px 0px 0px;
        flex-direction: row;
    }
    &__time {
        font-size: 20px;
        color: #0e233c;
    }
    &__image {
        width: 118px;
        height: 140px;
    }
    &__info {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
    }
    &__name {
        margin-top: auto;
        line-height: 21px;
        font-weight: 700;
        color: $dark-color;
    }
    &__text {
        margin-bottom: auto;
        line-height: 21px;
    }
}

.birthdays {
    &__more {
        margin: 30px 0px 0px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 10px;
        position: relative;
        svg {
            position: absolute;
            left: 14px;
            width: 18px;
            height: 18px;
            fill: #fff;
            transition: all 0.3s ease-out;
            transform: translateX(-20px) scale(0);
        }
        span {
            transition: all 0.3s ease-out;
        }
    }
}

.button.birthdays__button:hover,
.button.birthdays__button:focus {
    background-color: #1f273c;
    box-shadow: none;
    color: #fff;
    svg {
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
    span {
        padding-left: 15px;
    }
}


// tasks
.tasks {
    min-height: 316px;
    background-color: #2384ce;
    padding: 40px 0px 40px;
    &__items {
        font-weight: 300;
        justify-content: center;
        margin: 24px 0px 0px;
        flex-wrap: wrap;
    }
    .title-box {
        margin-left: 20px;
    }
    &__num {
        font-size: 57px;
    }
    &__text {
        margin-top: 8px;
    }
    &__item {
        position: relative;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        color: #fff;
        padding: 10px 20px;
        border-right: 1px solid #1c6fae;
        &:last-child {
            border-right: none;
        }
    }
    &__button {
        display: inline-block;
        margin: 28px 20px 0px;
    }
}

// workers
.workers {
    margin-top: 43px;
    &__line {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__items {
        padding: 29px 0px 0px;
    }
    &__item {
        font-weight: 300;
        border: 2px solid #fff;
        border-radius: 20px;
        color: #61656a;
        padding: 10px 7px;
        margin: 11px 12px 0 0;
        flex: 1 1 auto;
        width: auto;
        text-align: center;
        transition: all 0.3s ease-out;
        &:nth-child(2) {
            margin-right: 0;
        }
    }
}

// .interview
.interview {
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #eeeeee;
    padding: 30px 26px;
    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        margin: 10px 0px 0px;
        color: $dark-color;
    }
    &__сhecks {
        padding: 17px 5px 0px;
    }
}

.interview-info {
    min-height: 342px;
    background-color: #454545;
    padding: 20px 26px;
}

.checks_i {
    margin-top: 10px;
    color: $dark-color;
    .radio {
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border: 0;
        outline: none;
        +label {
            cursor: pointer;
        }
        &:before {
            content: '';
            border-radius: 50%;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
            transform: translate(-1px, -5px);
            width: 10px;
            height: 10px;
            line-height: 10px;
            text-align: center;
            border: 2px solid #f58066;
            background: #fff;
            transition: all 0.2s;
        }
        &:checked:before {
            background: #f58066;
        }
    }
    .radio__two {
        &:before {
            border: 2px solid #ebdb73;
        }
        &:checked:before {
            background: #ebdb73;
        }
    }
    .radio__three {
        &:before {
            border: 2px solid #5ae5ca;
        }
        &:checked:before {
            background: #5ae5ca;
        }
    }
    .radio__four {
        &:before {
            border: 2px solid #b797f4;
        }
        &:checked:before {
            background: #b797f4;
        }
    }
}

.interview-info {
    text-align: center;
    svg {
        width: 178px;
        height: 178px;
        transform: rotate(190deg);
    }
}

// widgets
.widgets {
    margin: 30px 0px 0px;
    color: $dark-color;
    &__inset {
        padding: 40px 0px 0px;
        margin: 27px 0px 0px;
        background-color: #fff;
        border: 1px solid #eeeeee;
    }
    &__header {
        justify-content: space-between;
        padding: 0px 30px;
    }
    &__info {
        flex-direction: column;
    }
    &__city {
        padding-top: 4px;
        font-weight: 500;
        line-height: 22px;
    }
    &__buttons {
        justify-content: space-between;
        align-items: flex-start;
        flex: 0 1 35px;
    }
    &__body {
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 30px 20px;
    }
    &__image {
        width: 105px;
        height: 76px;
        margin: 0px 0px 7px;
        margin-right: 10px;
    }
    &__title {
        font-size: 100px;
        font-weight: 300;
        line-height: 1;
        font-family: 'Geometria-Thin';
    }
    &__footer {
        position: relative;
        padding: 10px 30px 5px;
    }
    &__footer--blue {
        background-color: #2384ce;
    }
    &__icon {
        transition: all 0.3s ease-out;
        svg {
            width: 13px;
            height: 13px;
            fill: #b2b2b2;
        }
    }
    &__close {
        svg {
            fill: #d8d8d8;
        }
    }
}

.widgets-items {
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    &__col {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
    &__image {
        width: 56px;
        height: 56px;
    }
    &__name {
        color: #e2eff8;
        margin: 0px 0px 5px;
    }
    &__text {
        margin: 13px 0px 0px;
    }
}

// icon
.icon {
    width: 40px;
    height: 40px;
}

// hovers
.button:hover,
.button:focus {
    background-color: rgba(#fff, 0.6);
    color: $main-color;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background-color: #4abde8;
}

.header__search:hover,
.header__messages:hover,
.profile:hover {
    background-color: $hover-color;
}

.tasks__item:hover {
    color: #2f4f7d;
}

.header__link:hover,
.header__link:focus {
    color: #ffff;
}

.dropdown__link:hover {
    transform: translateX(12px);
}

.header__profile:hover .dropdown.profile__dropdown,
.header__messages:hover .message__dropdown {
    display: flex;
}

.workers__item:hover {
    border-color: #263555;
    color: #263555;
    transform: scale(1.1);
}

.tabs__link:hover {
    z-index: 2;
    background-color: #fff;
    border: 1px solid #eeeeee;
    color: $dark-color;
    &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100%;
        right: 0px;
        bottom: -2px;
        left: -1px;
        z-index: 20;
        box-sizing: content-box;
        border-bottom: 6px solid #fff;
        border-right: 2px solid #fff;
    }
}

.widgets__icon:hover {
    transform: scale(1.1);
    svg {
        fill: #2384ce;
    }
}

.btn-more:hover,
.btn-more:focus {
    color: #263555;
}

.news__more:hover svg {
    animation: spin 5s infinite;
    animation-direction: alternate;
}

// hamburger
.hamburger {
    cursor: pointer;
    position: relative;
    z-index: 95;
    display: none;
}

.hamburger .line {
    width: 40px;
    height: 2px;
    background-color: #b9c1cc;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

// animation
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@import "partials/media";
